body{
    height: 100vh;
}
.maindiv{
    background-color: rgb(107, 10, 197);
    margin-left: 185px;
    margin-top: 32px;
    width: 1000px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formdiv{
    height: 425px; 
    width:380px; 
    background-color: white;
    margin-top: 2px;
    margin-left: 0px;
    padding: 5 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.row{
    margin-left: 0px;
    padding: 2px;
    margin: 0px;
}

/* .form-control{
    padding: 10 30px;
} */

/* .create{ */
     /* margin-left: 50px; */
    /* display: inline-block;
    padding: 05px 15px;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #300bff;
    border: none;
    border-radius: 05px;
    box-shadow: 0 0px #999;
    margin-left: 0px;
    opacity: 0.6;
    transition: 0.2s;
    width: 305px;
    margin-top: 18px;

} */
/* .form-group{
    width: 85%;
    padding-left:35px;
    margin-top: 8px;
} */

.login{
    display: inline-block;
    padding: 05px 15px;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #10d317;
    border: none;
    border-radius: 05px;
    box-shadow: 0 0px #999;
    margin-left: 20px;
    opacity: 0.6;
    transition: 0.2s;
    width: 85px;
}
.submit{
    margin-left: 8px; 
    padding: 10px 20px;
    font-size: 13px;
    padding: 05px 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(123, 5, 170);
    border: none;
    border-radius: 05px;
    margin-left: 20px;
    opacity: 0.6;
    transition: 0.2s;
    margin-left: 5px;
    box-shadow: 0 00px #999; width: 85px;
}

